# Copyright (c) 2017 Heath Stewart
# See the LICENSE.txt file in the project root for more information.

trigger:
- master

variables:
  BuildConfiguration: Release
  BuildPlatform: Any CPU
  Solution: Caffeine.sln

jobs:
- job: Build
  pool:
    vmImage: vs2017-win2016
  steps:
  - checkout: self
    clean: true
    lfs: true

  - task: VisualStudioTestPlatformInstaller@1
    displayName: Install VSTest

  - task: NuGetCommand@2
    displayName: Restore packages
    inputs:
      restoreSolution: $(Solution)

  - task: VSBuild@1
    displayName: Build solution
    inputs:
      configuration: $(BuildConfiguration)
      maximumCpuCount: true
      platform: $(BuildPlatform)
      solution: $(Solution)

  - task: VSTest@2
    displayName: Test solution
    inputs:
      codeCoverageEnabled: true
      configuration: $(BuildConfiguration)
      platform: $(BuildPlatform)
      runInParallel: true

  - task: CopyFiles@2
    displayName: Copy build artifacts
    inputs:
      cleanTargetFolder: true
      contents: |
        LICENSE.txt
        README.md
        src\**\bin\$(BuildConfiguration)\**
      sourceFolder: $(Build.SourcesDirectory)
      targetFolder: $(Build.ArtifactStagingDirectory)\bin\$(BuildConfiguration)

  - task: PublishBuildArtifacts@1
    displayName: Publish build artifacts
    inputs:
      artifactName: drop
      pathToPublish: $(Build.ArtifactStagingDirectory)\bin\$(BuildConfiguration)

  - script: |
      echo ##vso[task.setvariable variable=GitBuildVersion;isOutput=true]%GitBuildVersion%
      echo ##vso[task.setvariable variable=GitBuildVersionSimple;isOutput=true]%GitBuildVersionSimple%
      echo ##vso[task.setvariable variable=GitCommitId;isOutput=true]%GitCommitId%
      echo ##vso[task.setvariable variable=GitCommitIdShort;isOutput=true]%GitCommitIdShort%
      echo ##vso[task.setvariable variable=NuGetPackageVersion;isOutput=true]%NuGetPackageVersion%
      echo ##vso[task.setvariable variable=PublicRelease;isOutput=true]%PublicRelease%
    displayName: Set variables
    name: vars
    env:
      GitCommitId: $(NBGV_GitCommitId)
      GitCommitIdShort: $(NBGV_GitCommitIdShort)
      NuGetPackageVersion: $(NBGV_NuGetPackageVersion)
      PublicRelease: $(NBGV_PublicRelease)

- job: Publish
  dependsOn: Build
  # condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

  variables:
    GitBuildVersion: $[dependencies.Build.outputs['vars.GitBuildVersion']]
    GitBuildVersionSimple: $[dependencies.Build.outputs['vars.GitBuildVersionSimple']]
    GitCommitId: $[dependencies.Build.outputs['vars.GitCommitId']]
    GitCommitIdShort: $[dependencies.Build.outputs['vars.GitCommitIdShort']]
    NuGetPackageVersion: $[dependencies.Build.outputs['vars.NuGetPackageVersion']]
    PublicRelease: $[dependencies.Build.outputs['vars.PublicRelease']]

  steps:
  - checkout: none

  - task: DownloadBuildArtifacts@0
    displayName: Download build artifacts
    inputs:
      artifactName: drop
      downloadPath: $(System.DefaultWorkingDirectory)

  - task: CopyFiles@2
    displayName: Copy build artifacts
    inputs:
      contents: |
        LICENSE.txt
        README.md
        src\**\*.exe
        src\**\*.exe.config
        src\**\*.pdb
      flattenFolders: true
      sourceFolder: $(System.DefaultWorkingDirectory)\drop
      targetFolder: $(Build.ArtifactStagingDirectory)\bin\$(BuildConfiguration)

  - task: ArchiveFiles@2
    displayName: Archive build artifacts
    inputs:
      archiveFile: $(Build.ArtifactStagingDirectory)\bin\$(BuildConfiguration)\Caffeine.zip
      rootFolderOrFile: $(Build.ArtifactStagingDirectory)\bin\$(BuildConfiguration)

  # Merge into one task when https://github.com/marceloavf/github-tools-vsts/issues/34 is fixed,
  - task: marcelo-formentao.github-tools.github-release-publish-task.GitHubReleasePublish@0
    displayName: Publish executable artifacts to GitHub
    inputs:
      githubEndpoint: GitHub
      githubReleaseAsset: $(Build.ArtifactStagingDirectory)\bin\$(BuildConfiguration)\*.exe
      githubReleaseDraft: true
      githubReleaseTitle: v$(GitBuildVersion)
      githubRepository: heaths/Caffeine
      githubTag: v$(GitBuildVersion)
      
  - task: marcelo-formentao.github-tools.github-release-publish-task.GitHubReleasePublish@0
    displayName: Publish archive artifacts to GitHub
    inputs:
      githubEndpoint: GitHub
      githubReleaseAsset: $(Build.ArtifactStagingDirectory)\bin\$(BuildConfiguration)\*.zip
      githubReleaseDraft: false
      githubReleaseTitle: v$(GitBuildVersion)
      githubRepository: heaths/Caffeine
      githubTag: v$(GitBuildVersion)
      githubReuseRelease: true
      githubReuseDraftOnly: true